:root {
    --primary-color: #72A1E5;
    --primary-color-transparent: #72a2e5c4;
    --secondary-color: #226CE0;
    --secondary-color-transparent: #226be0a1;
    --accent-1: #168362;
    --accent-2: #0A122A;
    --accent-2-transparent: #0a122ad6;
    --body-fonts: "Lato", sans-serif;
    --header-fonts: "Josefin Sans", sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: var(--header-fonts);
    color: var(--accent-1)
}
h1 {
    font-family: var(--header-fonts);
    color: var(--accent-2);
}
main {
    max-width: 940px;
    margin: 2rem auto;
}
p {
    font-family: var(--body-fonts);
    color: var(--accent-2)
}
a {
    text-decoration: none;
}
.hero {
    margin: 10px auto;
    height: 254px;
    width: 940px;
    position: relative;
}
.hero img {
    width:100%;
    height:100%;
    object-fit: cover;
}
.hero h1 {
    position: absolute;
    top:5px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: var(--primary-color-transparent);
}
.mission {
    position: absolute;
    top:90px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    background-color: var(--secondary-color-transparent);
}
.mission p {
    font-family: var(--body-fonts);
    font-weight: 300;
    color: white;
    margin: 10px;
    font-size: 1.3rem;
}
.mission img {
    width:200px;
    height:auto;
    float:right;
}
footer img {
    width:5%;
    height:auto;
}
#logo {
    width: 100%;
    height:auto;
}
.adventure img {
    width:50%;
    height:auto;
}
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 130px 1fr;
	align-items: center;
	border-bottom: 1px solid var(--accent-2);
	max-width: 1000px;
}
.navigation {
    display: flex;
    text-align:right;
    list-style: none;
    justify-content: center;
    font-family: var(--header-fonts);
}
.navigation ul {
    display: flex;
    list-style: none;
}
.navigation li {
    flex: 1 1 100%;
}
.navigation a {
	display: block;
	background-color: var(--accent-1);
    color: white;
    border: 1px solid rgba(0,0,0,0.1);
	padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
	text-decoration: none;
}
.navigation a:hover {
    background-color: var(--primary-color);
    font-weight: bold;
}
.history {
    background-color: var(--accent-2-transparent);
    height: 200px;
    width: 940px;
    padding:10px;
}
.history h2 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.history img {
    width:25%;
    height:auto;
    float:right;
    margin-top:20px;
}
.history p {
    color: white;
    font-weight: 300;
    margin-right: 270px;
    margin-top: 0px;
}
.adventure {
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    column-gap:5px;
}
.adventure h2 {
    grid-column: 1 / 6;
    text-align: center;
    font-size: 3rem;
}
.adventure figure {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
.adventure img {
    width:100%;
    height:auto;
}
.adventure figcaption {
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--body-fonts);
}
footer {
    max-width: 940px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
.sociallinks {
    display: flex;
    justify-content: right;
}
footer img {
    width:40px;
    height:auto;
    margin:7px;
}
.companyinfo {
    width:940px;
    height: 300px;
    border: 2px solid rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 75%;
}
.companyinfo h2 {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 2rem;
}
.companyinfo p {
    font-family: var(--body-fonts);
    font-weight: 400;
    margin-left: 15px;
    font-size: 1.2rem;
    line-height: 50px;
}
iframe {
    height:90%;
    width: auto;
    align-self: start;
    justify-self: end;
    margin-right:15px;
}
.team {
    width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    column-gap:50px;
}
.team h2 {
    grid-column: 1 / 4;
    text-align: center;
    font-size: 2rem;
}
.team figure {
    width: 100%;
    height: auto;
    margin:10px;
}
.team img {
    width: 100%;
    height: auto;
    justify-items: center;
}
.team figcaption {
    text-align: center;
    font-family: var(--body-fonts);
    font-size: 0.85rem;
}
.contactform {
    width: 940px;
}
.contactform form {
    margin: 0 auto;
    width: 940px;
    height: 500px;
    padding: 50px;
    padding-top: 0px;
    border: 1px solid rgba(0,0,0,0.1);
    font-family: var(--body-fonts);
    display: grid;
}
.contactform h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 60px;
}
.contactform label {
    padding-right:10px;
}
.contactform input, select, textarea {
    padding:10px;
    font-size:1rem;
}
.contactform button {
    padding: 5px;
    background-color: var(--accent-2);
    color: white;
    font-family: var(--body-fonts);
    border: none;
    border-radius:0.5rem;
}
.contactform button:hover {
    border: 1px solid rgba(0,0,0,0.3);
    background-color: #168362;
    color: white;
}
.form-item {
    display: grid;
    align-items: center;
    padding:10px;
}
.contactform input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
.pagesh1 {
    font-size: 3rem;
    text-align: center;
    margin: 15px;
}
.trips {
    width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    column-gap:50px;
    margin-bottom: 0;
    height: 550px;
}
.trips h2 {
    grid-column: 1 / 4;
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
}
.trips figure {
    width: 100%;
    height: auto;
    margin:10px;
    margin-bottom: 0;
}
.trips img {
    width: 100%;
    height: auto;
    justify-items: center;
}
.trips figcaption {
    text-align: center;
    font-family: var(--body-fonts);
    font-size: 0.85rem;
    margin-bottom: 0;
}
.trips h3 {
    text-align: center;
}
#tripsp {
    text-align: center;
    font-family: var(--header-fonts);
    font-size: 1.7rem;
    color: var(--secondary-color);
    font-style: italic;
    margin:5px;
    padding: 0;
}
.courses {
    width: 940px;
}
.courses table {
    font-family: var(--body-fonts);
    display: flex;
    justify-content: center;
}
.courses th {
    padding: 10px;
    background-color: var(--secondary-color);
}
.courses td {
    padding: 10px;
    background-color: var(--primary-color);
}
.courses h2 {
    text-align: center;
    font-size: 2rem;
}
#contactbutton {
    display: grid;
    background-color:var(--accent-2);
    color: white;
    text-align: center;
    font-family: var(--header-fonts);
    font-size: 1.5rem;
    margin: 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
}
#contactbutton:hover {
    background-color: var(--accent-1);
}
.hero1 {
    margin: 10px auto;
    height: 254px;
    width: 940px;
    position: relative;
}
.hero1 img {
    width:100%;
    height:100%;
    object-fit: cover;
}
.hero1 h1 {
    position: absolute;
    top:5px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 90px;
    text-align: center;
    color: white;
}
#tripsbutton {
    display: grid;
    background-color:var(--accent-2);
    color: white;
    text-align: center;
    font-family: var(--header-fonts);
    font-size: 1.5rem;
    margin: 20px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
    margin-bottom: 50px;
}
#tripsbutton:hover {
    background-color: var(--accent-1);
}
.newsletter {
    font-family: var(--body-fonts);
    width: 940px;
    margin-top: 100px;
    margin-bottom: 10px;
}
.newsletter form {
    margin: 0 auto;
    width: 940px;
    height: 500px;
    padding: 50px;
    padding-top: 0px;
    border: 1px solid rgba(0,0,0,0.1);
}
.newsletter h2 {
    font-size: 2rem;
    margin-top: 60px;
}
.newsletter label {
    padding-right:15px;
    font-size: 1.5rem;
}
.newsletter input {
    padding:10px;
    font-size:2rem;
}
.newsletter button {
    padding: 10px;
    background-color: var(--accent-2);
    color: white;
    font-family: var(--body-fonts);
    font-size: 1.5rem;
    border: none;
    border-radius:0.5rem;
    margin: 25px;
}
.newsletter button:hover {
    border: 1px solid rgba(0,0,0,0.3);
    background-color: #168362;
    color: white;
}
.details {
    width: 940px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    column-gap:50px;
}
.details h2 {
    grid-column: 1 / 3;
    text-align: center;
    font-size: 3rem;
}
.details figure {
    width: 100%;
    height: auto;
    margin:10px;
}
.details img {
    width: 100%;
    height: auto;
    justify-items: center;
}
.details figcaption {
    text-align: center;
    font-family: var(--body-fonts);
    font-size: 0.95rem;
}
.newsform {
    text-align: center;
}