nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}
main {
    max-width: 1000px;
}
aside {
    width: 300px;
    margin: 5px;
    border: solid #8B687F;
    padding: 5px;
    background-color: #FFD9DA;
    color: #011627;
}
aside img {
    width: 200px;
    height: auto;
}
p {padding: 0;}
footer {
    margin-top: 10px;
    border-top: 1px solid #8B687F;
}