:root {
    --nav-background-color: steelblue;
    --nav-text-color: white;
    --h1-text-color: steelblue;
    --main-img-border-color: steelblue;
    --aside-border-color: #8B687F;
    --aside-background-color: #FFD9DA;
    --aside-text-color: #011627;
    --footer-border-color: #8B687F;
}

nav {
    background-color: var(--nav-background-color);
    padding: 10px;
}
nav a {
    color: var(--nav-text-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--h1-text-color);
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--main-img-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}
main {
    max-width: 1000px;
}
aside {
    width: 300px;
    margin: 5px;
    border: solid var(--aside-border-color);
    padding: 5px;
    background-color: var(--aside-background-color);
    color: var(--aside-text-color);
}
aside img {
    width: 200px;
    height: auto;
}
p {padding: 0;}
footer {
    margin-top: 10px;
    border-top: 1px solid var(--footer-border-color);
}